main-color = #324E69

light-border = 1px solid #DDD

navbar-height = 56px
navbar-width = 80vw

quiz-sider-width-large = 480px
quiz-sider-width-medium = 400px
quiz-sider-width-small = 360px

content-page-padding = 20px

full-height = "calc(100vh - %s)" % navbar-height
